{{ ansible_managed | comment }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ cluster.name }}-pull-secret
  namespace: {{ cluster.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "24"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: {{ cluster.name }}-pull-secret
    creationPolicy: Owner
    template:
      type: kubernetes.io/dockerconfigjson
  data:
    - secretKey: ".dockerconfigjson"
      remoteRef:
        key: {{ cluster.pull_secret_vault_path }}
        property: pull_secret
